<template>
	<div class="container mx-auto px-100">
		<header class="py-4">
			<div class="flex items-center justify-between mx-auto">
				<a href="/" class="text-4xl font-bold text-black no-underline">Mediums</a>
				
				<div class="flex items-center">
					<div class="mr-4 text-sm">
						<a href="/compose"
							class="btn-green">
							<svg xmlns="http://www.w3.org/2000/svg" class="fill-current md:mr-2" width="16" height="16" viewBox="0 0 24 24"><path d="M15.812 4.819c-.33-.341-.312-.877.028-1.207l3.469-3.365c.17-.164.387-.247.603-.247.219 0 .438.085.604.257l-4.704 4.562zm-5.705 8.572c-.07.069-.107.162-.107.255 0 .194.158.354.354.354.089 0 .178-.033.247-.1l.583-.567-.493-.509-.584.567zm4.924-6.552l-1.994 1.933c-1.072 1.039-1.619 2.046-2.124 3.451l.881.909c1.419-.461 2.442-.976 3.514-2.016l1.994-1.934-2.271-2.343zm5.816-5.958l-5.137 4.982 2.586 2.671 5.138-4.98c.377-.366.566-.851.566-1.337 0-1.624-1.968-2.486-3.153-1.336zm-11.847 12.119h-4v1h4v-1zm9-1.35v1.893c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h12.629l2.062-2h-16.691v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-4.687l-2 1.951z"/></svg>
							<span class="hidden md:block">COMPOSE</span>
						</a>
					</div>
					<div>
						<a href="/register"
							class="text-black py-2 px-4 inline-flex items-center rounded border no-underline text-sm"
							v-if="$root.user === null">
							<span>Get Started</span>
						</a>
						<div v-if="$root.user !== null">
							<img :src="$root.user.dp" 
								:alt="$root.user.name"
								class="rounded-full h-12 w-12 flex items-center justify-center">
						</div>
					</div>
				</div>
			</div>
		</header>

		<div v-if="$root.pageLoading"
			class="w-full h-screen text-center">
			<img src="/svg/loading.svg" 
				alt="Loading...">
		</div>

		<div v-if="$root.alert">
			<div class="bg-orange-lightest border-l-4 border-orange text-orange-dark p-4" role="alert">
				<p class="font-bold">Be Warned</p>
				<p>Something not ideal might be happening.</p>
			</div>
		</div>

		<section>
			<router-view :key="$route.fullPath"></router-view>
		</section>
	</div>
</template>