<template>
	<div class="flex flex-wrap p-6 md:p-10">
		<div class="w-full">
			<textarea type="text"
				v-model="title"
				placeholder="Title"
				class="border w-full text-2xl md:text-4xl font-bold p-2 resize-y">
			</textarea>
		</div>
		
		<div class="mt-10 w-full"
			v-for="b,index in body">

			<div class="mt-5"
				v-if="b.type === 'text'">
				<textarea type="text"
					v-model="body[index].content"
					placeholder="Paragraph"
					class="border w-full text-base p-2 resize-y">
				</textarea>
			</div>

			<div class="mt-5"
				v-if="b.type === 'image'">
				<input type="file" 
					v-on:change="fileSelected(window.event, index)"
					class="btn-green"
					v-if="b.content === ''" />
				<div class="alert"
					v-if="imageLoading">
					IMAGE UPLOADING
				</div>
				<div v-if="imageLoading === false && b.content !== ''">
					<img :src="b.content" />
				</div>
			</div>

		</div>

		<div class="my-5">
			<span class="rounded-full h-8 w-8 flex items-center justify-center text-grey hover:text-black border border-grey hover:border-black text-lg cursor-pointer inline-block float-left mr-3"
				v-on:click="appendToBody('text')"
				title="Add Paragraph">
				<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M22 0h-20v6h1.999c0-1.174.397-3 2.001-3h4v16.874c0 1.174-.825 2.126-2 2.126h-1v2h9.999v-2h-.999c-1.174 0-2-.952-2-2.126v-16.874h4c1.649 0 2.02 1.826 2.02 3h1.98v-6z"/></svg>
			</span>

			<span class="rounded-full h-8 w-8 flex items-center justify-center text-grey hover:text-black border border-grey hover:border-black text-lg cursor-pointer inline-block"
				v-on:click="appendToBody('image')"
				title="Add Image">
				<svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"><path d="M5 8.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5zm9 .5l-2.519 4-2.481-1.96-4 5.96h14l-5-8zm8-4v14h-20v-14h20zm2-2h-24v18h24v-18z"/></svg>
			</span>
		</div>

		<div class="w-full mt-5 bg-grey-lighter">
			<input type="text" 
				v-model="tags"
				class="w-full p-4 bg-grey-lighter"
				placeholder="Tags (seperate by comma)">
		</div>

		<div class="w-full mt-5">
			<button type="submit"
				class="btn-green"
				v-on:click="saveArticle()">
				SAVE
			</button>

			<button type="submit"
				class="btn-green"
				v-if="article_id !== null && published === null"
				v-on:click="publishArticle()">
				PUBLISH
			</button>
		</div>

	</div>
</template>

<script>
import moment from 'moment';

export default {
	data() {
		return {
			article_id: null,
			title: null,
			published: null,
			body: [],
			window,
			imageLoading: false,
			tags: null
		}
	},
	methods: {
		publishArticle: function() {
			this.published = moment().format("YYYY-MM-DD HH:mm:ss");
			this.saveArticle();
		},
		saveArticle: function() {
			if (this.title === null) {
				alert('Title is required')
				return;
			}

			let uri = '/article';
			let method  = 'post';
			if (this.article_id !== null) {
				uri += '/' + this.article_id;
				method = 'patch';
			}

			axios({
				method,
				url: uri,
				data: {
					title: this.title,
					body: this.body,
					published: this.published,
					tags: this.tags
				}
			}).then(resp => {
				if (this.article_id !== resp.data.data.id) {
				    this.article_id = resp.data.data.id;
				    this.getArticle();
				}

				this.$router.push({
				    name: 'Edit Compose',
				    params: {
				        id: this.article_id
				    }
				});
			}).catch(err => {

			}).then(resp => {

			});
		},
		getArticle: function() {
			this.$root.pageLoading = true;
			this.$root.alert = false;
			axios.get('/article/' + this.article_id).then(resp => {
				this.article_id = resp.data.data.id;
				this.title = resp.data.data.title;
				this.published = moment(resp.data.data.published.date).format('YYYY-MM-DD HH:mm:ss');
				this.body = resp.data.data.body;
				this.tags = resp.data.data.tag_string;
			}).catch(err => {
				this.$root.alert = true;
			}).then(resp => {
				this.$root.alert = false;
				this.$root.pageLoading = false;
			});
		},
		appendToBody: function(type) {
			this.body.push({
				type,
				content: ''
			});
		},
		fileSelected: function(e, index) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
                let file = e.target.files[0];
                let reader = new FileReader();
                let vm = this;
                this.imageLoading = true;

                reader.onload = function (e) {
                    vm.body[index].content = e.target.result;
                    vm.imageLoading = false;
                };
                reader.readAsDataURL(file);

            } else {
                alert('The File APIs are not fully supported in this browser.');
            }
        },
        isDataUri: function(string) {
            let regex = /^\s*data:([a-z]+\/[a-z]+(;[a-z\-]+\=[a-z\-]+)?)?(;base64)?,[a-z0-9\!\$\&\'\,\(\)\*\+\,\;\=\-\.\_\~\:\@\/\?\%\s]*\s*$/i;
            return !!string.match(regex);
        },
	},
	mounted() {
		this.$root.pageLoading = false;
		if (this.$route.params.id !== undefined) {
			this.article_id = this.$route.params.id;
			this.getArticle();
		}
	}
};
</script>