<template>
	<div>
		<div class="flex flex-wrap mb-4 -mx-4">
			<div v-for="article in articles" 
				class="md:w-1/2 lg:w-1/4 p-4">
				<router-link :to="{ name: 'Post', params: {id: article.slug } }"
					class="no-underline">
					<div class="h-64 md:h-auto overflow-hidden pb-4">
						<img class="min-w-full"
							v-if="article.cover !== null"
							:src="article.cover" 
							:alt="article.title">
					</div>
					<h2 class="font-bold text-xl text-black mt-2 mb-2">{{ article.title }}</h2>
					<p class="text-grey-dark text-xs leading-normal mb-4">{{ article.intro }}</p>
				</router-link>
				<div>
					<a :href="article.user.link" 
						class="text-grey-darkest text-sm leading-normal no-underline hover:underline mb-2">{{ article.user.name }}</a>

					<div class="px-6 py-4"
						v-if="article.tags.length > 0">
						<span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2"
							v-for="tag in article.tags">#{{ tag.name }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			articles: null,
			meta: null,
			links: null
		}
	},
	methods: {
		getArticles: function() {
			this.$root.pageLoading = true;

			axios.get('/article').then(resp => {
				this.articles = resp.data.data;
				this.meta = resp.data.meta;
				this.links = resp.data.links;
			}).catch(err => {

			}).then(resp => {
				this.$root.pageLoading = false;
			});
		}
	},
	mounted() {
		this.getArticles();
	}
};
</script>