<template>
	<div class="text-center w-full py-10">
		<h1 class="text-4xl md:text-5xl font-bold text-black pb-3">404 Not Found</h1>
		<p class="text-sm text-grey-darkest">Hmmm... you seem to be lost!</p>
	</div>
</template>

<script>
export default {
	mounted() {
		this.$root.pageLoading = false;
	}
};
</script>