<template>
	<div class="flex">
		<div v-if="article"
			class="py-10">
	
			<router-link :to="{name: 'Edit Compose', params: {id: article.id}}"
				class="btn-green my-5"
				v-if="$root.user.username === article.user.username">
				<svg xmlns="http://www.w3.org/2000/svg" class="fill-current md:mr-2" width="16" height="16" viewBox="0 0 24 24"><path d="M15.812 4.819c-.33-.341-.312-.877.028-1.207l3.469-3.365c.17-.164.387-.247.603-.247.219 0 .438.085.604.257l-4.704 4.562zm-5.705 8.572c-.07.069-.107.162-.107.255 0 .194.158.354.354.354.089 0 .178-.033.247-.1l.583-.567-.493-.509-.584.567zm4.924-6.552l-1.994 1.933c-1.072 1.039-1.619 2.046-2.124 3.451l.881.909c1.419-.461 2.442-.976 3.514-2.016l1.994-1.934-2.271-2.343zm5.816-5.958l-5.137 4.982 2.586 2.671 5.138-4.98c.377-.366.566-.851.566-1.337 0-1.624-1.968-2.486-3.153-1.336zm-11.847 12.119h-4v1h4v-1zm9-1.35v1.893c0 4.107-6 2.457-6 2.457s1.518 6-2.638 6h-7.362v-20h12.629l2.062-2h-16.691v24h10.189c3.163 0 9.811-7.223 9.811-9.614v-4.687l-2 1.951z"/></svg>
				<span class="hidden md:block">EDIT</span>
			</router-link>

			<h1 class="mb-6">{{ article.title }}</h1>

			<div v-for="body in article.body">

				 <p v-if="body.type === 'text'"
					class="text-grey-darker text-base leading-normal mb-6">
					{{ body.content }}
				</p>

				<img class="md:w-1/2 pb-6 inline-block md:float-left md:mr-4" 
						v-if="body.type === 'image'"
						:src="body.content" 
						:alt="article.title"> 
			</div>

			<div class="clearfix"></div>

			<div class="w-full block">
				<div class="px-6 py-4"
					v-if="article.tags.length > 0">
					<span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2"
						v-for="tag in article.tags">#{{ tag.name }}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			link: null,
			article: null
		}
	},
	methods: {
		getArticle: function() {
			this.$root.pageLoading = true;
			this.$root.alert = false;
			axios.get('/article/' + this.link + '?link=true').then(resp => {
				this.article = resp.data.data;
			}).catch(err => {
				this.$root.alert = true;
			}).then(resp => {
				this.$root.alert = false;
				this.$root.pageLoading = false;
			});
		}
	},
	mounted() {
		this.link = this.$route.params.id;
		this.getArticle();
	}
};
</script>